{
    "root_filepath": "/Users/littlefat/cosmosrepair/content/post", 
    "model": "mix", 
    "children_filepath": "/Users/littlefat/cosmosrepair/content/post/\u51a5\u60f3\u4e0e\u5927\u8111\u7ef4\u4fee\u827a\u672f E4\uff1a\u5bf9\u547c\u5438\u7684\u7406\u89e3\u3001\u5982\u4f55\u5173\u6ce8\u547c\u5438.md"
}