{
    "root_filepath": "/Users/littlefat/cosmosrepair/content/post", 
    "model": "mix", 
    "children_filepath": "/Users/littlefat/cosmosrepair/content/post/\u51a5\u60f3\u4e0e\u5927\u8111\u7ef4\u4fee\u827a\u672f E0\uff1a\u4e3a\u4ec0\u4e48\u8981\u6709\u8fd9\u6837\u4e00\u4e2a\u8bfe\u7a0b\uff0c\u8fd9\u6837\u4e00\u672c\u4e66\uff1f.md"
}