{
    "root_filepath": "/Users/littlefat/Documents/BES/cosmosrepair.com/content/post", 
    "model": "mix", 
    "children_filepath": "/Users/littlefat/Documents/BES/cosmosrepair.com/content/post/\u201c\u665a\u98ce\u8bf4\u201d\u7cfb\u5217\u7ebf\u4e0a\u5206\u4eab\u4f1a\uff1a\u5f20\u5927\u5927\u4e0d\u80fd\u8bf4\u7684\u8bdd.md"
}