<style>
  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
  }
  b, strong {
    font-weight: 800;
  }
  
  .blog-post p:first-child > strong {
    display: none!important;
  }
  
    @media only screen and (min-width: 768px) {
      .intro-header .page-heading h1, .intro-header .tags-heading h1 {
        font-size: 40px;
      }
  
      .post-preview .post-title {
        font-size: 20px;
      }
  
  
      .post-preview .post-entry > p {
        font-size: 15px!important;
      }
  
      .post-read-more {
        font-size: 15px;
      }
  
      blockquote {
      font-style: normal;
      font-weight: bold;
      border-left: 5px solid #16B0FF!important;
      }
  
      blockquote strong {
        color: #000;
      }
  
      .intro-header .post-heading h1 {
      font-size: 40px!important;
      }
  
      em {
      color: #808080!important;
      }
  
      .blog-post > p {
      line-height: 32px;
      margin-bottom: 25px;
      margin-top: 14px:
      }
  
      h2 {
        margin-bottom: 20px!important;
        margin-top: 37.8px!important;
      }
  }
  
  
  @media only screen and (max-width: 768px) {
      .intro-header .page-heading h1, .intro-header .tags-heading h1 {
        font-size: 35px;
      }
  
      .post-preview .post-title {
        font-size: 18px;
      }
  
      .post-preview .post-entry > p {
        font-size: 14px!important;
      }
  
      .post-read-more {
        font-size: 14px;
      }
  
      .intro-header .post-heading h1 {
      font-size: 35px!important;
      }
  
      em {
      color: #808080!important;
      }
  
      blockquote {
        font-style: normal;
        font-weight: bold;
        border-left: 5px solid #16B0FF!important;
      }
  
      blockquote strong {
        color: #000;
      }
  
      .blog-post > p {
      line-height: 32px;
      margin-bottom: 25px;
      margin-top: 14px:
      }
  
      h2, {
      margin-bottom: 20px;
      margin-top: 37.8px;
      }
    }
  
  </style>
  