<style>
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
  }
  
  @media only screen and (min-width: 768px) {
    .intro-header .page-heading h1, .intro-header .tags-heading h1 {
      font-size: 40px;
    }
  
    .post-preview .post-title {
      font-size: 20px;
    }


    .post-preview .post-entry > p {
      font-size: 15px!important;
    }

    .post-read-more {
      font-size: 15px;
    }  

    blockquote {
    font-style: normal;
    }

    .intro-header .post-heading h1 {
    font-size: 40px!important;
    }

    em {
    color: #808080!important;
    }

    blockquote {
    border-left: 5px solid #16B0FF!important;
    }

    .blog-post > p {
    line-height: 32px;
    margin-bottom: 25px;
    margin-top: 14px:
    }

    h2, {
    margin-bottom: 10.5px;
    margin-top: 37.8px;
    }
}

  
  }

    b, strong {
    font-weight: 800;
    
}

@media only screen and (max-width: 768px) {
    .intro-header .page-heading h1, .intro-header .tags-heading h1 {
      font-size: 35px;
    }
  
    .post-preview .post-title {
      font-size: 18px;
    }

    .post-preview .post-entry > p {
      font-size: 14px!important;
    }
    
    .post-read-more {
      font-size: 14px;
    }

    .intro-header .post-heading h1 {
    font-size: 35px!important;
    }

    em {
    color: #808080!important;
    }

    blockquote {
    border-left: 5px solid #16B0FF!important;
    }

    .blog-post > p {
    line-height: 32px;
    margin-bottom: 25px;
    margin-top: 14px:
    }

    h2, {
    margin-bottom: 10.5px;
    margin-top: 37.8px;
    }
  }

    b, strong {
    font-weight: 800;
}

</style>
