<style>
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
  }
  
  @media only screen and (min-width: 768px) {
    .intro-header .page-heading h1, .intro-header .tags-heading h1 {
      font-size: 40px;
    }
  
    .post-preview .post-title {
      font-size: 20px;
    }


    .post-preview .post-entry > p {
      font-size: 15px!important;
    }
  }

    b, strong {
    font-weight: 800;
    
}

@media only screen and (max-width: 768px) {
    .intro-header .page-heading h1, .intro-header .tags-heading h1 {
      font-size: 35px;
    }
  
    .post-preview .post-title {
      font-size: 18px;
    }

    .post-preview .post-entry > p {
      font-size: 14px!important;
    }
  }

    b, strong {
    font-weight: 800;
}

  </style>
